@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: #e49b0f;
}

div.display h1 {
    font-size: 4em;
}

/* Arrow animations */
.arrow-container a svg {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
/* Card */
.card-img-top {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/* Pagination */
.pagination > li > a
{
    background-color: white;
    color: #0DCAF0;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #0DCAF0 !Important;
    border: solid 1px #0DCAF0 !Important;
}

.featured-movies {
  text-align: center;
}

.featured-movies::before, .featured-movies::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 2px;
    background-color: #fff;
    margin: 0 10px;
    vertical-align: middle;
}

.featured-movies h1 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
}

.card-img-top {
  object-fit: cover;
  height: 400px; /* ganti tinggi gambar sesuai kebutuhan */
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.1);
}